@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
h1 {
    margin: 20px;
    text-align: center;
}
.items {
   display: flex;
   justify-content: space-around;
   /* position: absolute; */
   font-weight: 500;
   width: 100%;
   height: auto;
   /* flex-wrap: wrap; */
   /* margin: 30px; */
   
}
.item{
    background-color: grey;
    border: 1px solid black;
    /* display: inline-block; */
    /* position: relative; */
    width: 32%;
    /* margin: 30px; */
    margin: 8px;
    
    
    
}
.item h2 {
    float: right;
    border: 1px solid black;
    padding: 5px 10%;
    font-size: 18px;
}
.item:first-child h2 {
    background-color: rgb(216, 142, 142);
    color: black;
}
.item:nth-child(2) h2 {
    background-color: rgb(200, 37, 37);
    color: white;

}
.item:last-child h2 {
    background-color: rgb(253, 240, 125);
    color: black;

}
.item p {
    margin:40px 0 0 0;
    padding: 10px;
    font-size: 18px;

}
@media (min-width:768px) and (max-width: 991px) {
    .item {
        width: 48%;
    }
    .item:last-child{
        width: 98%;
    }
    .items {
        flex-wrap: wrap;
    }
}

@media(max-width:767px) {
    .items {
        flex-wrap: wrap;
    }
    .item {
        width: 98%;
    }
}